<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!-- MAIN NET -->
    <!--<add key="NxtServerUrl" value="http://localhost:7876/nxt" />-->

    <!-- TESTNET -->
    <add key="NxtServerUrl" value="http://localhost:6876/nxt" />
  </appSettings>
</configuration>