<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="NxtServerUrl" value="http://localhost:6876/nxt" />
    <add key="SecretPhrase" value="insert secret phrase here"/>
    <add key="ExistingCurrencyId" value="17567790753261292408"/>
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file1" xsi:type="File" filename="C:\log\NxtLib\NxtLib.Test.${shortdate}.log" layout="${date:format=yyyy-MM-dd HH\:mm\:ss} ${level} ${message} ${onexception:Exception - \:${exception:format=type,message,method,StackTrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,method,StackTrace}}"/>
      <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss} ${message} ${onexception:Exception - \:${exception:format=type,message,method,StackTrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,method,StackTrace}}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="file1"/>
      <logger name="*" minlevel="Info" writeTo="console"/>
    </rules>
  </nlog>
</configuration>